commands:
  01-composer:
    command: curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/bin --filename=composer && sudo chmod 755 /usr/bin/composer
    ignoreErrors: true
  02-drush:
    command: php -r "readfile('https://s3.amazonaws.com/files.drush.org/drush.phar');" > drush && sudo mv ./drush /usr/bin/ && sudo chmod 755 /usr/bin/drush
    ignoreErrors: true