# Installs xdebug and sets it to automatically connect to localhost:9000 on every request.
# To forward connections use `ssh -R 9000:localhost:9000 ec2-user@DOMAIN`
# then configure your xdebug client to listen on localhost:9000. No session token required.
# TODO Ensure install doesn't repeat on subsequent deployments.
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/07_xdebug.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      . $EB_SUPPORT_DIR/envvars
      if [ -z "$ENABLE_XDEBUG" || ${ENABLE_XDEBUG} == "0" ]; then
        echo "Skipping xdebug install. Set ENABLE_XDEBUG=1 as environment variable to install."
        exit 0
      fi
      #install xdebug
      pushd /tmp/
          wget http://xdebug.org/files/xdebug-2.5.0.tgz
          tar -xvzf xdebug-2.5.0.tgz
          pushd /tmp/xdebug-2.5.0
              phpize
              ./configure
              make
              cp modules/xdebug.so /usr/lib64/php/7.0/modules
          popd
      popd
      #write xdebug config
      echo  "
        zend_extension = /usr/lib64/php/7.0/modules/xdebug.so
        xdebug.enabled=${ENABLE_XDEBUG}
        xdebug.remote_enable=1
        xdebug.remote_autostart=1
        xdebug.remote_handler=dbgp
        xdebug.remote_mode=req
        xdebug.remote_log=\"/var/log/httpd/xdebug.log\"" > /etc/php.d/99-xdebug.ini