#The commands/scripts below are run once per host instance upon creation. The app source and environment variables are not yet available.
commands:
  add_ec2_user_to_docker_group:
    command: "usermod -aG docker ec2-user"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/preinit/99_create_swapfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      SWAPFILE=/var/swapfile
      SWAP_MEGABYTES=2048

      if [ -f $SWAPFILE ]; then
      	echo "Swapfile $SWAPFILE found, assuming already setup"
      	exit;
      fi

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /bin/chmod 600 $SWAPFILE
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE
  "/home/ec2-user/.bashrc":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      function dcontainer(){
        result=$(docker ps --no-trunc -q --filter=name=.-app-)
        if [[ "$?" != "0" || "$result" = "" ]]; then
          >&2 echo "App container is not running. Review logs in /var/log/containers and /var/log/eb-activity.log for more info."
          exit 1;
        fi
        echo "$result"
      }
      export -f dcontainer
      alias dps="docker ps"
      alias dbash="docker exec -it \$( dcontainer ) /bin/bash"
      alias dlog="(c=$(dcontainer); less "/var/log/containers/app-${c:0:12}-stdouterr.log")"
      alias dtail="(c=$(dcontainer); tail -f "/var/log/containers/app-${c:0:12}-stdouterr.log")"
      alias eblog="less /var/log/eb-activity.log"
      alias ebtail="tail -f /var/log/eb-activity.log"

      echo -e "Container commands:"
      echo -e "  dps - list Docker containers: dps"
      echo -e "  dbash - connect to running app container"
      echo -e "  dlog - view running app container's stdouterror log"
      echo -e "  dtail - tail running app container's stderror log (add -f to follow)"
      echo -e "  eblog - view Elastic Beanstalk agent log"
      echo -e "  ebtail - tail Elastic Beanstalk agent log"
      echo -e "  dcontainer - returns the container id for the running app container"