#The commands/scripts below are run once per host instance upon creation. The app source and environment variables are not yet available.
commands:
  add_ec2_user_to_docker_group:
    command: "usermod -aG docker ec2-user"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/preinit/99_create_swapfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      SWAPFILE=/var/swapfile
      SWAP_MEGABYTES=2048

      if [ -f $SWAPFILE ]; then
      	echo "Swapfile $SWAPFILE found, assuming already setup"
      	exit;
      fi

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /bin/chmod 600 $SWAPFILE
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE
  "/home/ec2-user/.bashrc":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      function dcontainer(){
        echo $(docker ps --no-trunc -q --filter=name=.-app-)
      }
      export -f dcontainer
      echo -e "Aliases:"
      echo -e "  dps - list Docker containers: dps"
      alias dps="docker ps"
      echo -e "  dbash - connect to running app container"
      alias dbash="docker exec -it \$( docker ps --no-trunc -q --filter=name=.-app- ) /bin/bash"
      echo -e "  dlog - view running app container's stdouterror log"
      alias dlog="less /var/log/containers/app-\$(docker ps -q --filter=name=.-app-)-stdouterr.log"
      echo -e "  dtail - tail running app container's stderror log (add -f to follow)"
      alias dtail="tail /var/log/containers/app-\$(docker ps -q --filter=name=.-app-)-stdouterr.log"
      echo -e "  eblog - view Elastic Beanstalk agent log"
      alias eblog="less /var/log/eb-activity.log"
      echo -e "  ebtail - tail Elastic Beanstalk agent log"
      alias ebtail="tail /var/log/eb-activity.log"
      echo -e "  dcontainer() - returns the container id for the running app container"