#The commands/scripts below are run once per host instance upon creation. The app source and environment variables are not yet available.
commands:
  add_ec2_user_to_docker_group:
    command: "usermod -aG docker ec2-user"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/preinit/99_create_swapfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      SWAPFILE=/var/swapfile
      SWAP_MEGABYTES=2048

      if [ -f $SWAPFILE ]; then
      	echo "Swapfile $SWAPFILE found, assuming already setup"
      	exit;
      fi

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /bin/chmod 600 $SWAPFILE
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE
  "/home/ec2-user/.bashrc":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      function dcontainer(){
        result=$(docker ps -qa --filter=name=.-app- | head -n1 )
        if [[ "$?" != "0" || "$result" = "" ]]; then
          >&2 echo "App container is not running. Review logs in /var/log/containers and /var/log/eb-activity.log for more info."
          exit 1;
        fi
        echo "$result"
      }
      export -f dcontainer
      alias dps="docker ps"
      alias dbash="/var/app/current/scripts/dbash.sh"
      alias dlog="less \"/var/log/containers/app-\$(dcontainer)-stdouterr.log\""
      alias dtail="tail -f "/var/log/containers/app-\$(dcontainer)-stdouterr.log")"
      alias eblog="less /var/log/eb-activity.log"
      alias ebtail="tail -f /var/log/eb-activity.log"

      alias composer="/var/app/current/scripts/composer.sh"
      alias drush="/var/app/current/scripts/drush.sh"
      alias sql-dump="/var/app/current/scripts/sql-dump.sh"
      alias sql-import="/var/app/current/scripts/sql-import.sh"

      cat <<- EOM
      Container commands:
        dps - Lists running docker containers.
        dbash - Open a terminal in running app container
        dlog - View latest app container's stdouterr output
        dtail - Follow latest app container's stdouterr output
        eblog - view Elastic Beanstalk agent log (useful when troubleshooting failed deployments)"
        ebtail - tail Elastic Beanstalk agent log (useful when troubleshooting failed deployments)"
      Utility commands:
        drush - Runs \`drush\` in running app container.
        composer - Runs \`composer\` in running app container.
        sql-dump - Runs \`drush sql-dump\` in running app container.
        sql-import - Imports sql dump from file using drush.
      EOM